<!DOCTYPE html>
<html>
<head>
    <title>Inventory Generator</title>
</head>

<body>

    <h1>Inventory Generator</h1>

    <p>Generate an Excel inventory report.</p>

    <form action="/generate" method = "POST" enctype="multipart/form-data">
        <!-- product list -->
        <h2>Product numbers:</h2>
        <textarea id="product_list" name="product_list" rows="15" cols="50" placeholder="Enter product numbers separated by comma or returns...">

        </textarea>
        
        <!-- Upload images -->
        <h2>Upload Product Images</h2>
        <input type="file" name="product_images" accept="image/*" multiple>
        <p id="selectedFiles"></p>
        <br><br>
        <!-- generate button -->
        <button type="submit" id="generateButton">Generate inventory</button>
        <p id="status"></p>
    </form>

    <script>
        const form = document.querySelector("form");
        const button = document.getElementById("generateButton");
        const status = document.getElementById("status");

        form.addEventListener("submit", function() {
            button.disabled = true;
            button.textContent = "Generating...";
            status.textContent = "Please wait while the excel is being generated.";
        });

        // show file names
        const fileInput = document.querySelector('input[name="product_images"]');
        const selectedFiles = document.getElementById("selectedFiles");

        fileInput.addEventListener("change", function() {
            if (fileInput.files.length === 0) {
                selectedFiles.textContent = "";
                return;
            }

            selectedFiles.textContent =
                Array.from(fileInput.files)
                    .map(file => file.name)
                    .join(", ");
        });
    </script>

</body>
</html>